#game-area {
	width: 15rem;
	height: 15rem;
}

#buttons-area {
	position: relative;
	top: -14.6rem;
	left: 0.3rem;
}

#game-board-img {
	width: 15rem;
	height: 15rem;
}

#game-area #row {
	display: flex;
}

#game-button {
	border: none;
	background: none;

	margin: 0.25rem;
	width: 4rem;
	height: 4rem;
}

#icon {
	width: 2rem;
}
