#game-area {
	width: 15rem;
	height: 15rem;
}

#buttons-area {
	position: relative;
	top: -14.6rem;
	left: 0.3rem;
}

#game-button {
	border: none;
	background: none;

	margin: 0.25rem;
	width: 4rem;
	height: 4rem;
}

#game-board-img {
	width: 15rem;
	height: 15rem;
}

#game-area #row {
	display: flex;
}

.icon {
	width: 2rem;
}

@keyframes surge {
	0% {
		transform: scale(0%);
	}
	100% {
		transform: scale(100%);
	}
}
