#player {
	display: flex;
	align-items: center;
	margin-top: 1rem;
}

#player h3 {
	margin: 0 1rem;
}

#player button {
	margin-right: 0.5rem;
}
#player img {
	margin: 0.3rem;
}

.turn {
	border: 0.3rem;
	border-style: solid;
	border-radius: 1rem;
	border-color: black;
}
